/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
.env

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
public/app-assets
public/assets

# Laravel storage directory - ignore all files except .gitignore files
storage/*
!storage/.gitignore
storage/*.key
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore

# Bootstrap cache
bootstrap/cache/*
!bootstrap/cache/.gitignore

Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.htaccess

*.log
*.zip

